/*first page*/
.container{
  margin-top:2px;
  height:800px;
  background-color: rgb(62, 112, 219);
  width:99%;
}
.start{
  color:white;
  padding-top: 3px;
  padding-left: 50px;
}
.logo{
    width:400px;
    height:100px;
    padding:0px;
    margin-left:50px;
  }
.search-box{
  position:absolute;
  top:10%;
  left:50%;
  background-color: whitesmoke;
  border-radius:20px;
  clear:right;
  width:250px;
  height:30px;
  margin-left:180px;
}
.navbar{
  background-color: darkblue; 
  margin-left:70px; 
  margin-right:70px;
  border-radius:20px;
}
.navbar-nav a{
  color: white !important;
}
.dropdown-menu a{
   color: grey !important;
}

/*End of first page*/
/*second page*/
.container1{
    width:95%;
    height:900px;
    margin-left: 30px;;
}
.box {
float: left;
width: 33.33%;
padding:30px;
height:40
}
.clearfix::after {
content: "";
clear: both;
display: table;
}
.columnmenu{
border-top:1px solid cornflowerblue ;
position: -webkit-sticky;
}
.title{
font-size:25px;
font-weight: bold;
text-align: left;
color:rgb(79, 130, 241);
}
.list2 {
list-style-type: none;
position: relative;
padding-left: 10px;
padding:3px;
}
.list2:before {
  content: "\25BA \0020";
  font-size: 8px;
  position: absolute;
  top: 5px;
  left: -10px;
}
.row{
    margin-top:50px;
    margin-left:10px;
    background-color:rgb(223, 223, 223);
    height:400px;
    padding:40px;
    margin-right:50px;
    width:100%;
  }
.second-box{
    background-color:gb(223, 223, 223);
    width:95%;
    height:400px;
    margin-top: 40px;
    margin-left:30px;
    margin-right: 30px;
}
/*end of second page*/
.container2{
    background-color: whitesmoke;
    margin-top:30px;
    margin-left:30px;
    margin-right:auto;
    width:95%;
    height:600px;
}
.container2 button{
    border-radius: 10px;
    background-color: rgb(40, 61, 250);
    border:none;
    width:120px;
    text-align: center;
}
.row1{
    margin-top:50px;
    margin-left:10px;
    background-color: white;
    height:400px;
    padding:40px;
    margin-right: 0px;
  }
.hor1{
    width:80%;
    margin-left:20%;
    margin-top:-22px;
    border-color:lightgray;
    border-width:1.5px;
    margin-right:80px;
}
.check{
    text-align: center;
}
.previous {
    background-color: #f1f1f1;
    color: black;
    width:auto;
    font-size: 40px;
    border-width:50px;
    background-color: white;
    margin-top:-180px;
    float:left;
} 
.next {
    color: black;
    background-color:white;
    font-size:40px;
    width:auto;
    border-width: 10px;
    float:right;
    margin-top:-180px;
} 
.round {
     border-radius:10px;
}
/*end of third page*/
.container3{
    background-color: whitesmoke;
    margin-top:30px;
    width:95%;
    margin-left: 30px;
}
.row3{
    margin-top:80px;
    height:200px;
}
h3{
    margin-top:30px;
    border-bottom: blue;
    padding:5px;
    border-width: 200px;
    border-color: blue;
    color:blue;  
}
hr{
    width:20%;
    border-color:blue;
    padding:0px;
    border-width:1px;
    margin-left:0px;
    margin-top:20px;
    border-width: 2px;
}
.hor3{
    width:80%;
    margin-left:20%;
    margin-top:-22px;
    border-color:lightgray;
    border-width:1.5px;
}
.previous {
    background-color: #f1f1f1;
    color: black;
    width:auto;
    font-size: 40px;
    border-width:50px;
    background-color: white;
    margin-top:-180px;
    float:left;
} 
.next {
    color: black;
    background-color:white;
    font-size:40px;
    width:auto;
    border-width: 10px;
    float:right;
    margin-top:-180px;
} 
.round {
     border-radius:10px;
}
/*end of fourth page*/
.container4{
    background-color: white;
    margin-top:30px;
    width:90%;
    height:600px;
    margin-left: 60px;
}
.hor4{
    width:40%;
    margin-left:10%;
    margin-top:-20px;
    border-color:lightgray;
    border-width:1px solid;
}
.row4{
    margin-top:30px;
    height:100px;
}
h3.map{
    margin-top:-20px;
    border-bottom: blue;
    padding:3px;
    border-width: 200px;
    border-color: blue;
    color:blue;  
}
.map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
.face{
    background-image:url('example.jpg');
    height:90px;
}
/*end fourth page*/
input{
    margin-top: 40px;
    margin-left:-800px;
    border:none;
    border-radius:10px;
    padding:5px;
    font-style: italic;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}
.button{
    background-color: darkblue;
    color:white;
    border-radius: 10px;
    border-top-left-radius:0px ;
    border-bottom-left-radius:0px ;
    border-left: 0px;
    border:none;
    padding: 4px;
    border-collapse: collapse;
    border-width: auto;
}
.div1 {
    width: 200px;
    height: 50px;
    padding:5px;
    border: 1px;
    margin-top: -40px;
    margin-left:10px;
    background-color:white;
    text-align: left;
}
.div2 {
    width: 200px;
    height: 60px;
    padding:0px;
    margin-top:-60px;
    margin-left:20px;
    float:right;
    border: 1px none;
    background-color:white;
    margin-right:200px;
    text-align:left;
}
.container5 { 
    width:100%; 
    height:450px;; 
    background-color:rgba(3, 3, 77); 
    padding-top:20px; 
    padding-left:15px; 
    padding-right:15px; 
    background-repeat: no-repeat;
    background-size:cover;
    margin-top:60px;
} 
#st-box { 
    float:left; 
    width:25%; 
    height:800px; 
    border:none;
    color:lightcyan;
    margin-left:15px;
} 
#nd-box { 
    float:left; 
    width:20%; 
    height:600px; 
    border:none;
    margin-left:20px; 
    color:rgb(47, 103, 185);
} 
#rd-box { 
    float:left; 
    width:25%; 
    height:600px; 
    border:none;
    margin-left:40px;
    color:rgb(47, 103, 185);
}
#ld-box { 
    float:left; 
    width:30%px; 
    height:600px; 
    border:none;
    margin-left:50px;
    color:rgb(47, 103, 185);
}
.image{
    width:80%;
    margin-top:30px;
    background-color:none;
}
.logo2{
    width:auto;
    height:40px;
    background-color: white;
    float:left;
    padding:5px;
}
.logo3{
    width:auto;
    height:40px;
    background-color: white;
    float:left;
    padding:5px;
}
.list:before{
    content: "\25BA \0020";
    font-size: 10px;
    margin-left: 0px;
    padding-right: 5px;
}   
.list{
    padding:10px;
    text-align: justify;
    margin-left:10px;
}
.fa-facebook {
  background: rgb(150, 160, 180);
  color: darkblue;
  width:40px;
  height:40px;
  border-radius: 10px;
  padding: 10px;
}
.fa-twitter {
  background: rgb(150, 160, 180);
  color: darkblue;
  width:40px;
  height:40px;
  border-radius: 10px;
  padding: 10px;
}
.fa-google {
  background: rgb(150, 160, 180);
  color: darkblue;
  width:40px;
  height:40px;
  border-radius: 10px;
  padding: 10px;
}
.button1{
  margin-left:auto;
  margin-right:auto;
  display:block;
}
/*end fifth page*/
  
